.square {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    font-size: 30px;
    
}
.GameBoard {
    display: grid;
    grid-template-columns: 30px 30px 30px;
}